<%= form_with(model: inquiry) do |form| %>
  <% if inquiry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
        <% inquiry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :name, class:"form-control", placeholder:"test" %>
    <%= form.label :name %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :email, class:"form-control", placeholder:"test" %>
    <%= form.label :email %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :description, class:"form-control", placeholder:"test" %>
    <%= form.label :description %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :budget, class:"form-control", placeholder:"test" %>
    <%= form.label :budget, style: "display: block" %>
  </div>

  <div>
    <%= form.label :inquiry_type, style: "display: block" %>
    <%= form.select :inquiry_type, Inquiry.inquiry_types.keys.map { |key| [key.humanize, key] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
