<div id="<%= dom_id inquiry %>">
  <p>
    <strong>Name:</strong>
    <%= inquiry.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inquiry.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inquiry.description %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= inquiry.budget %>
  </p>

  <p>
    <strong>Inquiry type:</strong>
    <%= inquiry.inquiry_type %>
  </p>

</div>
