<div id="<%= dom_id inquiry %>" class="container d-flex shadow rounded p-3 pt-4 mb-3 mt-2 position-relative">
  <div class="col-3">
    <%= inquiry.inquiry_type.upcase %>
  </div>

  <div class="col-3">
    <%= inquiry.name %>
  </div>

  <div class="col-3">
    $ <%= number_with_delimiter(inquiry.budget) %>
  </div>

  <div class="col-3">
    <%= time_ago_in_words(inquiry.created_at).capitalize %>
  </div>

  <%= link_to "More", inquiry, class:"btn btn-outline-secondary position-absolute top-50 end-0 translate-middle rounded-pill" %>
</div>
