<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="container gx-5 mb-1" style="min-height: 300px; max-width: 500px;">
    <div class="row">
      <div class="col-1">
        <h2 class="text-center">
          <%= @inquiry.id %>
        </h2>
      </div>
      <div class="col-11">
        <h2>
          <%= @inquiry.inquiry_type.upcase %>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>
          From: <%= @inquiry.name %> | <i><%= @inquiry.email %></i>
        </h5>
      </div>
      <div class="row">
        <h6>Description :</h6>
        <textarea class="form-control" type="text" style="max-width: 400px" disabled readonly><%= @inquiry.description %></textarea>
      </div>
      <div class="d-flex">
        <h6>Budget :</h6>
        <h6 class="ms-1">
          $<%= number_with_delimiter(@inquiry.budget) %>
        </h6>
      </div>
    </div>
  </div>

 
</div>
  <div class="col text-center mb-5">
    <%= link_to "Next", inquiry_path(@next_inquiry_id), class:"btn btn-outline-primary" %>
  </div>
 <div class="row mx-auto">
    <div class="col">
      <%= link_to "Back to inquiries", inquiries_path, class:"btn btn-outline-secondary" %>
    </div>
    <div class="col">
      <%= link_to "Edit this inquiry", edit_inquiry_path(@inquiry), class:"btn btn-outline-warning" %>
    </div>
    <div class="col">
      <%= button_to "Destroy this inquiry", @inquiry, method: :delete, class:"btn btn-outline-danger" %>
    </div>
  </div>